@using AudioClickRepair.Data

<h3>@Title</h3>

<table class="tab-content">
    <tbody>
        @for (var row = 0; row * ColNumber < PatchArray.Length; row++)
        {
            <tr>
                @for (var col = 0; (col < ColNumber) && (row * ColNumber + col < PatchArray.Length); col++)
                {
                    <td style="padding: 10px;">
                        <ClickWindow AudioPatch="PatchArray[row * ColNumber + col]" Width="@_clickWidth" Height="@_clickHeight" OnEditorCalled="@OnEditorCalled"/>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Patch[] PatchArray { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int ColNumber { get; set; }
    [Parameter]
    public EventCallback<Patch> OnEditorCalled { get; set; }

    private int _clickWidth;
    private int _clickHeight;

    protected override void OnParametersSet()
    {
        _clickWidth = 300;
        _clickHeight = 200;
    }
}
