@using GPUDeclickerUWP.Model.Data

<h3>@Title</h3>

<table class="tab-content">
    <tbody>
        @for (var row = 0; row * ColNumber < ClickArray.Length; row++)
        {
            <tr>
                @for (var col = 0; (col < ColNumber) && (row * ColNumber + col < ClickArray.Length); col++)
                {
                    <td style="padding: @_clickPadding px;" width="10%"><ClickWindow Click="ClickArray[row * ColNumber + col]" Width="@_clickWidth" Height="@_clickHeight" /></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public AudioClick[] ClickArray { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int ColNumber { get; set; }

    private int _clickWidth;
    private int _clickHeight;
    private int _clickPadding;

    protected override void OnParametersSet()
    {
        _clickWidth = 300;
        _clickHeight = 200;
        _clickPadding = 10;
    }
}
