@using GPUDeclickerUWP.Model.Data

<h3>@Title</h3>

<table class="tab-content">
    <tbody>
        @for (var row = 0; row * _colNumber < ClickArray.Length; row++)
        {
            <tr>
                @for (var col = 0; (col < _colNumber) && (row * _colNumber + col < ClickArray.Length); col++)
                {
                    <td><ClickWindow Click="ClickArray?[row * _colNumber + col]" Width="300" Height="200" /></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public AudioClick[] ClickArray { get; set; }
    [Parameter]
    public string Title { get; set; }

    private int _colNumber = 4;
}
