@page "/"

<h1>Repair your audio files!</h1>

<p>Welcome to GPUDeclickerBlazor, a web application that automatically removes clicks, pops, and bit rots.</p>

<p>First that you need to do is upload your audio file. The currently supported formats are WAV, MP3.</p>

<p>Second, scan the uploaded file with the default settings. Then, you can check the results of scanning and adjust the settings.</p>

<p>Third, download the resulting output audio file.</p>