@page "/load"

@inject Data.AppState  AppState

@using GPUDeclickerUWP.Model.InputOutput;

@using System.ComponentModel.DataAnnotations;

<h3>Loader</h3>

<EditForm Model="@_viewerModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="uri" @bind-Value="_viewerModel.Uri" />

    <button type="submit">Submit</button>
</EditForm>

<h4>Length : @GetLength()</h4>

@code {

    private class ViewerModel
    {
        [Required]
        [Url(ErrorMessage = "Not a valid URL")]
        public string Uri { get; set; }
    }

    private ViewerModel _viewerModel = new ViewerModel();
    private AudioInputOutput _audioIO = new AudioInputOutput();

    private void HandleValidSubmit()
    {
        _audioIO.LoadAudioFromHttp(_viewerModel.Uri);
        AppState.SetAudioData(_audioIO.GetAudioData());
    }

    private string GetLength() => AppState.AudioData is null
        ? "unknown"
        : AppState.AudioData.LengthSamples().ToString();
}
