<div class="card">
    <h4 class="card-title">Status</h4>
    <p class="card-text">Number of clicks detected : @NumberOfClicks</p>
</div>

@code {
    [Parameter]
    public int NumberOfClicks { get; set; }
}
